.container {
	display: grid;
	grid-template-columns: 7fr 3fr;
}

.myId {
	border-radius: 5px;
	padding: 2rem;
	display: grid;
	align-content: center;
  background-color: white;
  top:0;right:0;left:0;
  margin:auto;
  position:absolute;
  width: 400px;
  height: auto;
  margin-top: 100px;
  box-shadow: 0.001rem 0.001rem 22px #ccc;
}

.call-button {
	text-align: center;
	margin-top: 2rem;
}
.video2{
  /* border: 1px solid ; */
  height: 100px;
  width:100px;
  border-radius: 5px;
}
.video-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-content: center;
	margin-top: 10rem;
	margin-left: 10rem;
}
.video{
  /* border: 1px solid ; */
  height: 300px;
  width:100%;
  border-radius: 5px;
  overflow: hidden;
}

.caller {
	text-align: center;
	color: #fff;
}

body {
	background: #f0f0f0; /* fallback for old browsers */

}