.container {
	display:flex;
	grid-template-columns: 7fr 3fr;
  top:0;right: 0;left:0;
  margin: auto;
  width:fit-content;
  height: auto;
  /* border: 1px solid; */
}
.icongrid{
  width:100%;
  height:auto;
  display:flex;
  cursor: pointer;
  background: #252526;
  border-radius: 5px;
}
.myId {
	border-radius: 5px;
	padding:10px;
	/* margin-left:-10px; */
  background-color: #414141;
  width:auto;
  height:auto;
  margin-top:90px;
}

.call-button {
	text-align: center;
	margin-top: 2rem;
}
.video2{
  /* border: 1px solid ; */
  height: 100px;
  width:100px;
  border-radius:5px;
}
.video-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-content: center;
	margin-top: 10rem;
	margin-left: 10rem;
}
.video{
  /* border: 1px solid ; */
  height:100%;
  width:100%;
  border-radius: 5px;
  overflow:hidden;
  margin-top: 5px;
}

.caller {
	text-align: center;
	color: #0066b8;
}
#except{
  margin-left: 10px;
}
body {
	background: #252526; /* fallback for old browsers */

}
.logo{
  height:50px;
  top:0;right: 0;left: 0;
  margin:auto;
  position: absolute;
  margin-top: 20px;
}
#config{
  width:300px;
  margin-left: 10px;
  z-index:90000;
}

#openconfig{
  display:none
}

@media screen and (max-width:768px){

  .container {
    display:block;
    width:99%;
    grid-template-columns: 0fr 0fr;
    margin: 0;
    margin-left: 0;

  }
  .myId{
    width:90%;
    height:auto
  }
  #config{
    position:fixed;
    top:0px;
    width: 92%;
    height:100%;
  }
  #inp{
    width:100%
  }
  #openconfig{
    display:block
  }
  #except{
    margin-top: 10px;
  }

}